# Python
__pycache__/
*.pyc
*.pyo
.Python
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# VS Code
.vscode/

# Environment
.env
venv/
.venv/

# OSMnx cached data (太大了，不该进 git)
cache/
*.graphml